<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <title>THREE-TIER APPLICATION USING DOCKER</title>
</head>

<body>
    <div style="margin:40px">
        <h1>THREE-TIER APPLICATION USING DOCKER</h1>
        <h2>Harsh Patel</h2>
        <p>This is a documentation for developing a three-tier application using docker.</p>
        <p>The project is divided into 3 parts as follows : FrontEnd, Backend, Database.</p>
        <hr>
        <h1>Navigation</h1>
        <ul>
            <li><a href="#section1">DATABASE </a></li>
            <li><a href="#section2">BACKEND </a></li>
            <li><a href="#section3">FRONTEND </a></li>
        </ul>

        <h1 id="section1">DATABASE TIER</h1>
        <h1>Step 1: Create dockerfile for MongoDB</h1>
        <img src="https://harsh4623.github.io/CloudComputing-Assignment/images/0.png" alt="">
        <h1>Step 2: Create Network</h1>
        <p><b>List available networks : </b>docker network ls <br><b>Create a Docker network : </b>docker network create new-network</p>
        <img src="https://harsh4623.github.io/CloudComputing-Assignment/images/1.png" alt="">

        <h1>Step 3: Connecting MongoDB Container to Network</h1>
        <p><b>Build Docker image for MongoDB :</b> docker build -t darshan3112/21bcp129-mongodb ./mongodb</p>
        <img src="https://harsh4623.github.io/CloudComputing-Assignment/images/2.png" alt="">
        <p><b>Run MongoDB container :</b> docker run -d --name mongodb-container --network new-network darshan3112/21bcp129-mongodb</p>
        <img src="https://harsh4623.github.io/CloudComputing-Assignment/images/9.png" alt="">
        
        <h1 id="section2">BACKEND TIER</h1>
        <h1>Step 4: Create dockerfile for Backend</h1>
        <img src="https://harsh4623.github.io/CloudComputing-Assignment/images/13.png" alt="">

        <h1>Step 5: Building and Running Node.js Backend Container</h1>
        <p><b>Build Docker image for NodeJS backend : </b>docker build -t darshan3112/21bcp129-backend ./backend</p>
        <img src="https://harsh4623.github.io/CloudComputing-Assignment/images/3.png" alt="">
        <p><b>Run NodeJS backend container : </b>docker run -d --name backend-container --network new-network darshan3112/21bcp129-backend</p>
        <img src="https://harsh4623.github.io/CloudComputing-Assignment/images/10.png" alt="">

        <h1 id="section3">FRONTEND TIER</h1>
        <h1>Step 6: Create dockerfile for Frontend</h1>
        <img src="https://harsh4623.github.io/CloudComputing-Assignment/images/14.png" alt="">

        <h1>Step 7: Building and Running React Frontend Container</h1>
        <p><b>Build Docker image for Frontend : </b>docker build -t darshan3112/21bcp129-frontend ./frontend</p>
        <img src="https://harsh4623.github.io/CloudComputing-Assignment/images/4.png" alt="">
        <p><b>Run frontend container : </b>docker run -d --name 21bcp113-frontend-container --network new-network darshan3112/21bcp129-frontend</p>
        <img src="https://harsh4623.github.io/CloudComputing-Assignment/images/11.png" alt="">

        <h1>Step 8: Look for containers at Docker Desktop</h1>
        <img src="https://harsh4623.github.io/CloudComputing-Assignment/images/docker.png" alt="">

        <h1>Step 9: Project Frontend</h1>
        <img src="https://harsh4623.github.io/CloudComputing-Assignment/images/12.png" alt="">

        <h1>Step 10: Look for containers at Docker Hub</h1>
        <img src="https://harsh4623.github.io/CloudComputing-Assignment/images/8.png" alt="">
        

    </div>
</body>

</html>